.swipeButton {
  align-items: center;
  background: linear-gradient(
    180deg,
    var(--base-color5),
    var(--base-color3),
    var(--base-color2)
  );
  border: none;
  border-radius: 50%;
  box-shadow:
    0 6px 14px rgb(0 0 0 / 25%),
    inset 0 2px 3px rgb(255 255 255 / 30%);
  color: var(--base-color5);
  cursor: inherit;
  filter: drop-shadow(0 0 8px rgb(223 182 130 / 25%));
  font-weight: 600;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.6px;
  opacity: 0.9;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 100%;
}

.swipeButton::after {
  align-items: center;
  background: linear-gradient(var(--base-color2), var(--base-color5));
  border-radius: inherit;
  color: var(--base-color2);
  content: attr(data-text);
  display: flex;
  inset: 1px;
  justify-content: center;
  position: absolute;
  transition: transform 0.3s ease;
}

.swipeButton_disabled {
  background: linear-gradient(
    180deg,
    var(--base-color6),
    var(--base-color1),
    var(--base-color6)
  );
  box-shadow: none;
  opacity: 0.5;
  pointer-events: none;
}

.swipeButton__icon {
  transition: transform 0.2s ease;
}

@media (hover: hover) {
  .swipeButton:hover {
    box-shadow:
      0 2px 13px 5px rgb(0 0 0 / 30%),
      inset 0 2px 4px rgb(255 255 255 / 35%);
    filter: drop-shadow(0 0 10px rgb(223 182 130 / 40%));
  }

  .swipeButton:hover::after {
    transform: translateX(-100%);
  }
}

.swipeButton:active::after {
  transform: translateX(-100%);
}

.swipeButton:active .swipeButton__icon {
  transform: scale(1.5);
}
