:root {
  --base-color1: #2b124c;
  --base-color2: #52265b;
  --base-color3: #854f6c;
  --base-color4: #dfb682;
  --base-color5: #fbe4d8;
  --base-color6: #190019;

  font-size: 14px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--base-color5);
  color: var(--base-color6);
}

.app {
  display: flex;
  padding: 8px;
  width: 100%;
}
