@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");

:root {
  --base-color1: #2b124c;
  --base-color2: #52265b;
  --base-color3: #854f6c;
  --base-color4: #dfb682;
  --base-color5: #fbe4d8;
  --base-color6: #190019;

  font-size: 14px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--base-color5);
  color: var(--base-color6);
}

.app {
  display: flex;
  padding: 8px;
  width: 100%;
}

.outletContainer {
  width: 100%;
  background: linear-gradient(
    135deg,
    #ffff 2%,
    var(--base-color3) 60%,
    var(--base-color2)
  );
  border-radius: 10px;
  box-shadow:
    inset -8px -8px 40px 0px rgba(0, 0, 0, 0.25),
    inset 0 1px 1px rgba(255, 255, 255, 0.15);
  transition: transform 480ms cubic-bezier(0.22, 1, 0.36, 1);
}

.appName {
  z-index: 1;
  position: absolute;
  display: flex;
  top: 20px;
  width: 100%;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  font-family: "Imperial Script", cursive;
  color: var(--base-color6);
  pointer-events: none;
}

@media (max-width: 1024px) {
  .app {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .app:has(.responsiveNav_open) .outletContainer {
    transform: translateX(92px);
  }

  .outletContainer {
    border-radius: 0;
  }
}
