:root {
  --base-color1: #2b124c;
  --base-color2: #52265b;
  --base-color3: #854f6c;
  --base-color4: #dfb682;
  --base-color5: #fbe4d8;
  --base-color6: #190019;

  font-size: 14px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--base-color5);
  color: var(--base-color6);
}

.app {
  display: flex;
  padding: 8px;
  width: 100%;
}

.outletContainer {
  width: 100%;
  background: linear-gradient(
    135deg,
    #ffff 2%,
    var(--base-color3) 60%,
    var(--base-color2)
  );
  border-radius: 10px;
  box-shadow:
    inset -8px -8px 40px 0px rgba(0, 0, 0, 0.25),
    inset 0 1px 1px rgba(255, 255, 255, 0.15);
}

@media (max-width: 1024px) {
  .app {
    height: 100vh;
  }
}
